<main class="main">
  <h1>{{ title }}</h1>
  <div id="menu" style="width: 17%; border-color: black; border-style: solid;">
    <table style="width: 100%;">
      <tr>
        <td>Image Satan (OU bonhomme+ ou ombre si pas connectée)</td>
      </tr>
      <tr>
        <td>Achievements</td>
      </tr>
      <tr>
        <td>Upgrades</td>
      </tr>
      <tr>
        <td>Managers</td>
      </tr>
      <tr>
        <td>Investors</td>
      </tr>
    </table>
  </div>
  <div id="jeu" style="border-color: black; border-style: solid;">
    <table>
      <tr>
        <td>$100.000</td>
        <td>x10</td>
      </tr>
      <tr>
        <td>Lava</td>
        <td>Dog Toys</td>
      </tr>
      <tr>
        <td>Scream and Despair</td>
        <td>Flesh and Bones</td>
      </tr>
      <tr>
        <td>Torture Machines</td>
        <td>Maths Lessons</td>
      </tr>
    </table>
  </div>
</main>

<router-outlet />
