<table style="width: 100%; height: 100%;">
  <tbody>
    <tr>
      <td id="menu">
        <li class="satan">
          @if(connecte == null) {
            <img class="satan" alt="non connecté" src="../assets/satan_blank.png"/>
            <input type="text" id="user-name"/>
            <input type="submit" id="submit"/>
          } @else if(!connecte){
            <img class="satan" alt="non connecté" src="../assets/satan_blank.png" (click)="connection()"/>
          } @else if(connecte) {
            <img class="satan" alt="connecté" src="../assets/satan.png"/>
          }
        </li>
        <div>
          <li class="optionsMenu">
            <button name="up" class="buttonMenu" (click)="openPage(1)">Unlocks</button>
          </li>
          <li class="optionsMenu">
            <button name="up" class="buttonMenu" (click)="openPage(2)">Upgrades</button>
          </li>
          <li class="optionsMenu">
            <button name="man" class="buttonMenu" (click)="openPage(3)">Managers</button>
          </li>
          <li class="optionsMenu">
            <button name="inv" class="buttonMenu" (click)="openPage(4)">Investors</button>
          </li>
        </div>
      </td>
      <td id="jeu" style="height: 100%; border-color: black; border-style: solid;">
        <table style="width: 100%;">
          <tbody>
            <tr>
              <td id="argent">{{ "$ " + affMoney + " " + valeur }}</td>
              <td id="multiplicateur">
                <button name="mult" (click)="onClick()">{{ mult }}</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          @for (prod of world.products; track prod.id) {
            <produit [params]="{prod:prod, mult:mult, money:world.money}"/>
          }
        </div>
      </td>
    </tr>
  </tbody>
</table>

@if (display != 0) {
  <div id="pages">
    <button name="close" (click)="closePage()">X</button>
    @if (display == 1) {
      <h2>Unlocks</h2>
      <p>Want to maximize profits? Look no further! Get your investment</p>
    }
    @if (display == 2) {
      Upgrades !!!
    }
    @if (display == 3) {
      <h2>Managers</h2>
      <h5>Managers make life easier !</h5>
      <p>Hire to run your business for you, or to maximize efficiency, all for just one easy payment! SOULS !!!</p>
      <div>
        @for (man of world.managers; track man.idcible) {
          <manager [manager]="man"/>
        }
      </div>
    }
    @if (display == 4) {
      Investors !!!
    }
  </div>
}