<table id="APP">
  <tbody>
    <tr>
      <td id="menu">
        <li class="satan">
          <!--@if(connecte == null) {
            <img class="satan" alt="non connecté" src="../assets/satan_blank.png"/>
            <input type="text" id="user-name" [(ngModel)] = "username"/><input type="submit" id="submit" value="➤" (click)="connection()"/>
          } @else if(!connecte){
            <img class="satan clickSatan" alt="non connecté" src="../assets/satan_blank.png" (click)="connection()"/>
          } @else if(connecte) {
            <img class="satan" alt="connecté" src="../assets/satan.png"/>
          }-->
          @if(connecte) {
            <img id="imgColor" class="satan" alt="connecté" src="../assets/satan.png"/>
            <img id="imgBlank" class="satan" alt="se connecter" src="../assets/satan_blank.png" (click)="connection()"/>
          } @else {
            <img class="satan" alt="non connecté" src="../assets/satan_blank.png"/>
            <input type="text" id="user-name" [(ngModel)] = "username"/><input type="submit" id="submit" value="➤" (click)="connection()"/>
          }
        </li>
        <div>
          <li class="optionsMenu">
            <button name="up" class="buttonMenu" (click)="openPage(1)">Unlocks</button>
          </li>
          <li class="optionsMenu">
            <button name="up" class="buttonMenu" (click)="openPage(2)">Upgrades</button>
          </li>
          <li class="optionsMenu">
            <button name="man" class="buttonMenu" (click)="openPage(3)">Managers</button> <!--mat-raised-button [matBadge]="badgeManagers" [matBadgeHidden]="badgeManagers==0" Ne marche pas-->
          </li>
          <li class="optionsMenu">
            <button name="inv" class="buttonMenu" (click)="openPage(4)">Investors</button>
          </li>
        </div>
      </td>
      <td id="jeu">
        <table style="width: 100%;">
          <tbody>
            <tr>
              <td id="argent">
                {{ "$ " + affMoney}}
                <span>
                  {{ valeur }}
                </span>
              </td>
              <td id="multiplicateur">
                <button name="mult" (click)="onClick()">{{ mult }}</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          @for (prod of world.products; track prod.id) {
            <produit [params]="{api:api ,prod:prod, mult:mult, money:world.money}" (refresh)="onProductionDone($event)" (onBuy)="onBuyProd($event)"/>
          }
        </div>
      </td>
    </tr>
  </tbody>
</table>

@if (display != 0) {
    <button id="close" name="close" (click)="closePage()">❌</button>
    @if (display == 1) {
      <div class="pages unl">
        <h2 class="unl">Unlocks</h2>
        <h5 class="unl">Want to maximize profits? Look no further! Get your investments to these quotas to unlock sweet profit bonuses !</h5>
        <p class="unl">Hire to run your business for you, or to maximize efficiency, all for just one easy payment! SOULS !!!</p>
        <div class="unl">
          @for (prod of world.products; track prod.id) {
            @for (pal of prod.paliers; track (pal.idcible + pal.name)) {
              @if (!pal.unlocked) {
                <unlock [params]="{api:api ,unlock:pal, prodName:prod.name}"/>
              }
            }
          }
          @for (unl of world.allunlocks; track unl.name){
            @if (!unl.unlocked) {
              <unlock [params]="{api:api ,unlock:unl}"/>
            }
          }
        </div>
      </div>
    }
    @if (display == 2) {
      <div class="pages upg">
        <h2 class="upg">Upgrades</h2>
      </div>
    }
    @if (display == 3) {
      <div class="pages man">
        <h2 class="man">Managers</h2>
        <h5 class="man">Managers make life easier !</h5>
        <p class="man">Hire to run your business for you, or to maximize efficiency, all for just one easy payment! SOULS !!!</p>
        <div class="man">
          @for (man of world.managers; track man.idcible) {
            @if (!man.unlocked) {
              <manager [params]="{api:api ,manager:man, products: world.products, money: world.money}" (onBuy)="onBuyMan($event)"/>
            }
          }
        </div>
      </div>
    }
    @if (display == 4) {
      <div class="pages">
        <h2>Investors</h2>
      </div>
    }
}