#APP {
    position: absolute;
    top: 0px; left: 0px;
    width: 100vw; height: 100vh;
}

#menu {
    vertical-align: top;
    width: 17%; height: 100%;
    background-color: rgb(93, 78, 71);
}

#menu li {
    display: block;
}

li.satan {
    height: auto;
}

img.satan {
    width: 100%;
    image-rendering:pixelated;
}

#imgBlank{
    cursor: pointer;
    display: none; visibility: hidden;
}

li.satan:hover #imgColor{
    display: none; visibility: hidden;
}

li.satan:hover #imgBlank{
    display: block; visibility: visible;
}

#user-name {
    width: 80%; height: 10%;
    text-align: center; font-size: 1.2vw;
}

#submit {
    width: 15%; height: 10%;
    text-align: center; font-size: 1.2vw;
    cursor: pointer;
}

#menu div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.optionsMenu {
    text-align: center;
}

.buttonMenu {
    background-color: #00000000; border-style: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.7vw; cursor: pointer;
}
#jeu {
    height: 100%;
}

#multiplicateur {
    width: 12%;
    text-align: center;
}

#multiplicateur button {
    width: 100%;
    font-size: 2vw;
    background-color: rgb(253, 128, 66);
    border-top-left-radius: 50%; border-bottom-left-radius: 50%;
    border-style: solid; border-color: black;
    cursor: pointer;
}

#multiplicateur button:hover {
    background-color: rgb(222, 113, 58);
}

#argent {
    color: rgb(249, 239, 230);
    font-size: 3vw;
    font-weight: bold;
}
#argent span {
    font-weight: normal;
    font-size: 2.3vw;
    text-transform: uppercase;
}

#jeu div {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

button#close {
    position: fixed; right: 13%; bottom:78vh; z-index: 1;
    width: 12vh; height: 12vh;
    font-size: 6vh;
    cursor: pointer;
}

.pages {
    text-align: center;
    overflow:scroll;
    width: 74%; height: 90vh;
    position: fixed; left: 13%; bottom:0vh;
    border-top-left-radius: 3vh; border-top-right-radius: 3vh;
    /*border-color: rgb(222, 222, 222); border-style: solid;*/
}

.pages h2 {
    position: relative; bottom: 5vh; left: 30%;
    width: 40%; border-radius: 1vw;
    font-size: 4vw; color: aliceblue; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pages h5 {
    font-size: 2vw;
    width: 90%; left: 5%;
}

/* PAGE UNLOCKS*/
.pages.unl {
    background-color: rgb(221, 207, 181);
}

.pages h2.unl{
    background-color: rgb(227, 173, 64);
}

.pages h5.unl{
    color: rgb(62, 54, 48);
}

:not(.pages).unl {
    position: relative; bottom: 10vh;
}

/* PAGE UPGRADES*/
.pages.upg {
    background-color: rgb(222, 196, 181);
}

.pages h2.upg{
    background-color: rgb(224, 134, 74);
}

.pages h5.upg{
    color: rgb(168, 83, 31);
}

:not(.pages).upg {
    position: relative; bottom: 10vh;
}

/* PAGE MANAGERS*/
.pages.man {
    background-color: rgb(206, 206, 206);
}

.pages h2.man{
    background-color: rgb(158, 189, 207);
}

.pages h5.man{
    color: rgb(62, 100, 121);
}

:not(.pages).man {
    position: relative; bottom: 10vh;
}

/* PAGE INVESTORS*/
.pages.inv {
    background-color: rgb(207, 201, 203);
}

.pages h2.inv{
    background-color: rgb(153, 134, 179);
}

.pages h5.inv{
    color: rgb(118, 98, 155);
}

:not(.pages).inv {
    position: relative; bottom: 10vh;
}