<!--<table>
    <tbody>
        <tr>
            <td class="manIMG" rowspan="3">
                <img [src]="man" [alt]="man._nom"/>
            </td>
            <td>
                {{ man._nom }}
            </td>
            <td>
                <button name="hire">HIRE</button>
            </td>
        </tr>
        <tr>
            <td>
                Runs Lava Factory
            </td>
        </tr>
        <tr>
            <td>
                {{ man._prix }}
            </td>
        </tr>
</tbody>
</table>-->