<table>
    <tbody>
    <tr>
        <td class="tdIMG" rowspan="2">
            <img [src]="man._imgURL" [alt]="man._nom"/>
        </td>
        <td colspan="3">
            8 billion/sec
        </td>
    </tr>
    <tr>
        <td>
            Buy
        </td>
        <td>
            {{ man._prix }}
        </td>
        <td rowspan="2">
            6s
        </td>
    </tr>
    <tr>
        <td>
            /100
        </td>
        <td>
            x10
        </td>
        <td>
            valeur
        </td>
    </tr>
</tbody>
</table>