table {
    display: block;
    width: 84%;
    position: relative; left: 8%;
}

.manIMG img {
    width: 100%;
}

.manIMG {
    width: 25%;
}

td{
    text-align: center;
    border-color: black; border-style: solid;
    padding: 0%; margin: 0%;
}

.manName {
    font-size: 3vw;
}

.manRun {
    font-size: 1.5vw;
    height: 20%;
}

.manCout {
    font-size: 2.5vw;
    height: 40%;
}
.manHire {
    height: 100%;
}
.manHire button{
    height: 100%; width: 100%;
    font-size: 3vw;
}