table {
    display: block;
    border-color: black; border-style: solid;
}

.manIMG img {
    width: 25%; border-radius: 50%;
}

/*.manIMG {
    width: 25%;
}*/

td{
    font-size: 1.2vw;
    text-align: center;
}