<table>
    <tbody>
        <tr>
            <td class="manIMG" rowspan="3">
                <img [src]="api + man.logo" [alt]="man.name"/>
            </td>
            <td class="manName">
                {{ man.name }}
            </td>
            <td rowspan="3" class="manHire">
                <button [class]="clickMan" name="hire" (click)="buy()">Hire!</button>
            </td>
        </tr>
        <tr>
            <td class="manRun">
                Runs {{ prods[man.idcible-1].name }}
            </td>
        </tr>
        <tr>
            <td class="manCout">
                {{ man.seuil }}
            </td>
        </tr>
    </tbody>
</table>