table {
    display: block;
    border-color: black; border-style: solid;
}

img {
    width: 100%; border-radius: 50%;
}

.tdIMG {
    width: 25%
}

td{
    font-size: 1.2vw;
    text-align: center;
}