<table>
    <tbody>
    <tr>
        <td class="tdIMG" rowspan="2">
            <img [src]="api + product.logo" [alt]="product.name"/>
        </td>
        <td colspan="3">
            {{ (product.revenu * product.quantite) / (product.vitesse / 1000) }} $/s
        </td>
    </tr>
    <tr>
        <td>
            Buy
        </td>
        <td>
            {{ affCout }}
        </td>
        <td rowspan="2">
            {{ product.vitesse / 1000 }} s
        </td>
    </tr>
    <tr>
        <td>
            {{ product.quantite }}/{{ seu }}
        </td>
        <td>
            {{ achat }}
        </td>
        <td>
            {{ valeur }}
        </td>
    </tr>
</tbody>
</table>