<table>
    <tbody>
        <tr class="ligneHaut">
            <td class="tdIMG" rowspan="2">
                <img [src]="api + product.logo" [alt]="product.name"/>
                <div>
                    {{ product.quantite }}/{{ seu }}
                </div>
            </td>
            <td colspan="2" class="vitesse">
                {{ (product.revenu * product.quantite) / (product.vitesse / 1000) }} $/s
            </td>
        </tr>
        <tr>
            <td class="ligneBas">
                <table class="tabOrange">
                    <tbody>
                        <tr>
                            <td class="textOrange textOrangeGauche textOrangeHaut">
                                Buy
                            </td>
                            <td class="textOrange textOrangeDroite textOrangeHaut">
                                $ {{ affCout }}
                            </td>
                        </tr>
                        <tr>
                            <td class="textOrange textOrangeGauche textOrangeBas">
                                {{ achat }}
                            </td>
                            <td class="valeur textOrangeDroite textOrangeBas">
                                {{ valeur }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td class="temps">
                {{ product.vitesse / 1000 }} s
            </td>
        </tr>
    </tbody>
</table>