<table>
    <tbody>
        <tr>
            <td class="unlIMG" rowspan="3">
                <img [src]="api + unl.logo" [alt]="unl.name"/>
            </td>
            <td class="unlName">
                {{ unl.name }}
            </td>
        </tr>
        <tr>
            <td class="unlCout">
                {{ unl.seuil }}
            </td>
        </tr>
        @if(unl.idcible!=0){ <!-- il ne s'agit pas d'un allUnlock -->
            <tr>
                <td class="unlRun">
                    {{ prodName + " " + unl.typeratio.toUpperCase() + " " + "x" + unl.ratio }}
                </td>
            </tr>
        }
        @else {
            <tr>
                <td class="unlRun">
                    {{ "All Products " + unl.typeratio.toUpperCase() + " " + "x" + unl.ratio }}
                </td>
            </tr>
        }
    </tbody>
</table>